
#random-bar {
  border: none;
  height: 30px;
  background-image: url("logos/icono.ico");
  /*background-repeat: repeat-x;*/
  background-repeat: space;
  background-size: auto 100%;
  margin: 0.5%;
}


p{
	margin: 2%
}

footer {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 200px;
  height: 50px;
  /* Agrega otros estilos que desees */
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
 
.centrado {
	width: 50%;
	margin: 0 auto;
	text-align: center;
	text-decoration: none;
  } 
  
  
  
  
@media (max-width: 768px) {
  .mobile-logo {		
	max-width: 70%;
	max-height: 15%;
  }
}

@media (min-width: 769px) {
  .desktop-logo {
	max-width: 20%;
	max-height: 15%;
  }
}
/* For best practice, move CSS below to an external CSS file. */
@keyframes fadeinall {
0% {
  opacity: 1; }
97% {
  opacity: 0; }
98% {
  opacity: 0;
  -webkit-transform: translateY(0);
  transform: translateY(0); }
100% {
  opacity: 0;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  z-index: -1; } 
}

.moralet {
	margin: 2%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-gap: 20px;
}
  
.gallery {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-gap: 25px;
}	  
.photo {
	position: relative;
  cursor: pointer;
}	  
.photo img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: transform 0.2s;
  border-radius: 40px 0;
  max-height: 200px;
}	  
.photo:hover img {
	transform: scale(1.05);
}


.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  position: relative;
  border-left: none;
  border-right: none;
  margin: auto;
  display: flex !important;
  width: auto;
  max-height: 80vh;
  object-fit: contain;
}

.modal-contenido {
  position: absolute;
  border-left: none;
  border-right: none;
  margin: 5%;
  display: flex;
  width: auto;
  max-height: 80vh;
  object-fit: contain;
}

/*Boton cerrar*/
.close {
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

/*Boton descargar*/
.download-button{
  background-color: #1c1c1c;
  border-color: #1c1c1c;
  color: #fefefe;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  font-size: 1rem;
  cursor: pointer;  
}

/*
.footer-container {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 40px 0 0 0;
  border: 1px solid #ddd;
}

/*
small{
  background-color: black;
  color: white;
  border-radius: 40px 0;
  margin: 2%;
}
footer{
  margin: 0 10% 1% 1%;
}*/
