.container {
    flex: 1;
}

.hidden {
    display: none;
}

/* Cards de eventos */
.card img {
    width: 100%;
    height: 200px; /* Limita la altura de la imagen */
    object-fit: cover; /* Recorta y centra la imagen */
    border-radius: 1.5rem 0.1rem 1.5rem 0.1rem;
    padding: 4%;
}

.card {
    height: 100%; /* Asegura que las tarjetas sean del mismo tamaño */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: transparent;
    display: flex;
    flex-direction: column;    
    justify-content: space-between;
    border-radius: 1.5rem 0.1rem 1.5rem 0.1rem;
    border-width: 2px; /* Grosor del borde */
    border-style: solid; /* Estilo del borde */
}

.card-title {
    font-size: 1.1rem;
    line-height: 1.2rem;
    height: 1.4rem; /* Limita el título a dos líneas */
    overflow: hidden; /* Oculta el texto que exceda el límite */
    text-overflow: ellipsis;
    text-align: center;
}

.card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card:hover {
    transform: scale(1.03);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Botón "Volver a la Galería" */
#backButton {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 10;
}

/* Iframe */
.iframe-container {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: 100%; /* Asegura que se mantenga dentro del contenedor */
    border: none;
}

/* Botón de carga */
.load-button {
    border: none;
    border-radius: 20px;
    padding: 8px 16px;        
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s ease;
}

/* Íconos de redes sociales */
.social-icon {
    font-size: 1.5rem;
    color: #555;
    transition: color 0.3s, transform 0.2s;
}

.social-icon:hover {
    color: #3498db;
    transform: scale(1.2);
}

/*Ajustes para los dispositivos móviles y el iframe*/
@media (max-width: 768px) {
    .iframe-container {
        height: 100vh; /* Ocupa el 100% de la altura de la pantalla */
        overflow-y: auto; /* Permite desplazamiento vertical si el contenido es mayor */
    }

    .iframe-container iframe {
        height: calc(100vh - 56px); /* Calcula el 100% de la pantalla menos el espacio del botón o cualquier margen */
    }
}

/*Ajuste para menu en moviles*/
@media (max-width: 992px) {
    /* Alineación de los botones del menú en modo móvil */
    #navbarNav .navbar-nav {
        flex-direction: row;
        justify-content: space-between; /* Distribuye los botones en los extremos */
        width: 100%; /* Asegura que ocupen todo el ancho */
    }
    
    #navbarNav .nav-item {
        flex: 1; /* Cada elemento toma la misma cantidad de espacio */
        text-align: center; /* Centra el contenido dentro de cada elemento */
    }

    /* Alineación específica para el primer, segundo y tercer botón */
    #navbarNav .nav-item:nth-child(1) {
        text-align: left;
    }

    #navbarNav .nav-item:nth-child(2) {
        text-align: center;
    }

    #navbarNav .nav-item:nth-child(3) {
        text-align: right;
    }
}