/* Variables de tema */
:root {
    --bs-body-bg: #fff;
    --bs-body-color: #000;
    --theme-dark-bg: #222;
    --theme-dark-color: #ddd;
}

body.light-mode {
    background-color: var(--bs-body-bg);
    color: var(--bs-body-color);
}

body.dark-mode {
    background-color: var(--theme-dark-bg);
    color: var(--theme-dark-color);
}

/* Navbar */
.navbar {
    transition: background-color 0.3s;
}

body {
    background-color: #f8f9fa;
    color: #212529;
  }
  
  .card img {
    width: 100%;
    height: 200px; /* Limita la altura de la imagen */
    object-fit: cover; /* Recorta y centra la imagen */
  }
  
  .card {
    height: 100%; /* Asegura que las tarjetas sean del mismo tamaño */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .card-title {
    font-size: 1.1rem;
    line-height: 1.2rem;
    height: 2.4rem; /* Limita el título a dos líneas */
    overflow: hidden; /* Oculta el texto que exceda el límite */
    text-overflow: ellipsis;
  }


  .card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

.card:hover {
    transform: scale(1.05);
}

/* Contenedor de iframe */
.iframe-container {
    display: none;
    position: relative;
    padding: 1rem;
    background-color: var(--bs-body-bg);
}

.iframe-container iframe {
    width: 100%;
    height: 500px;
    border: none;
}
