/* Instagram post styles */
.instagram-media {
  background: #FFF;
  border: 0;
  border-radius: 3px;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.5), 0 1px 10px 0 rgba(0, 0, 0, 0.15);
  margin: 1px;
  max-width: 540px;
  min-width: 326px;
  padding: 0;
  width: 99.375%;
  width: -webkit-calc(100% - 2px);
  width: calc(100% - 2px);
}

.instagram-content {
  padding: 16px;
}

.instagram-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.instagram-avatar {
  background-color: #F4F4F4;
  border-radius: 50%;
  flex-grow: 0;
  height: 40px;
  margin-right: 14px;
  width: 40px;
}

.instagram-user-info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
}

.instagram-username,
.instagram-subtext {
  background-color: #F4F4F4;
  border-radius: 4px;
  flex-grow: 0;
  height: 14px;
}

.instagram-username {
  margin-bottom: 6px;
  width: 100px;
}

.instagram-subtext {
  width: 60px;
}

.instagram-image-placeholder {
  padding: 19% 0;
}

.instagram-logo {
  display: block;
  height: 50px;
  margin: 0 auto 12px;
  width: 50px;
}

.instagram-caption {
  padding-top: 8px;
  color: #3897f0;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 550;
  line-height: 18px;
}

.instagram-footer {
  display: flex;
  flex-direction: row;
  margin-bottom: 14px;
  align-items: center;
}

.instagram-footer-left,
.instagram-footer-center,
.instagram-footer-right {
  display: flex;
  align-items: center;
}

.instagram-footer-icon,
.instagram-footer-icon-rotated,
.instagram-footer-icon-large,
.instagram-footer-arrow,
.instagram-footer-triangle,
.instagram-footer-rectangle {
  background-color: #F4F4F4;
}

.instagram-footer-icon,
.instagram-footer-icon-rotated {
  border-radius: 50%;
  height: 12.5px;
  width: 12.5px;
}

.instagram-footer-icon-rotated {
  transform: rotate(-45deg);
  margin-left: 2px;
  margin-right: 14px;
}

.instagram-footer-icon-large {
  border-radius: 50%;
  height: 20px;
  width: 20px;
}

.instagram-footer-arrow {
  width: 0;
  height: 0;
  border-top: 2px solid transparent;
  border-left: 6px solid #f4f4f4;
  border-bottom: 2px solid transparent;
  transform: rotate(30deg);
  margin-left: 16px;
}

.instagram-footer-triangle {
  width: 0;
  border-top: 8px solid #F4F4F4;
  border-right: 8px solid transparent;
}

.instagram-footer-rectangle {
  height: 12px;
  width: 16px;
  margin-top: -4px;
}

.instagram-text {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  margin-bottom: 24px;
}

.instagram-text-line {
  background-color: #F4F4F4;
  border-radius: 4px;
  flex-grow: 0;
  height: 14px;
}

.instagram-text-line:first-child {
  margin-bottom: 6px;
  width: 224px;
}

.instagram-text-line:last-child {
  width: 144px;
}

.instagram-credit {
  color: #c9c8cd;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 0;
  margin-top: 8px;
  overflow: hidden;
  padding: 8px 0 7px;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.instagram-credit a {
  color: #c9c8cd;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  line-height: 17px;
  text-decoration: none;
}