.container {
    flex: 1;
    max-width: 1800px;
}

.img-fluid {
    max-width: 100%;
    margin: 0 auto;
}

.hidden {
    display: none !important;
}

.navbar{
    position: sticky;
    top: 0;
    z-index: 10;
}

.iconos{
    width: 3%;
}

.centrado p{
	width: 90%;
	margin: 0 auto;
	text-align: justify;
	text-decoration: none;
}

.centrado2 {
	width: 90%;    
	margin: 0 auto;
	text-align: center;
	text-decoration: none;
}

/* Cards de eventos */
.card img {
    width: 100%;
    height: 200px; /* Limita la altura de la imagen */
    object-fit: cover; /* Recorta y centra la imagen */
    border-radius: 1.5rem 0.1rem 1.5rem 0.1rem;
    padding: 4%;
    padding-bottom: 0%;
}

.card {
    height: 100%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: transparent;
    display: flex;
    flex-direction: column;    
    justify-content: space-between;
    border-radius: 1.5rem 0.1rem 1.5rem 0.1rem;
    border-width: 2px;
    border-style: solid;
}

.card-title {
    font-size: 1.1rem;
    /*line-height: 1.2rem;
    height: 1.4rem; /* Limita el título a dos líneas */
    overflow: hidden; /* Oculta el texto que exceda el límite */
    text-overflow: ellipsis;
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.4;
    margin-bottom: 0.5rem;
}

.card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    margin: 0;
    padding-top: 0%;
}

.card:hover {
    transform: scale(1.03);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Botón de carga */
.load-button {
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s ease;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    margin-top: 0.5rem;
}

/* Botón "Volver a la Galería" */
#backButton {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 10;
}

/* Iframe */
.iframe-container {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: 100%;
    border: none;
}

/* Íconos de redes sociales */
.social-icon {
    font-size: 1.5rem;
    color: #555;
    transition: color 0.3s, transform 0.2s;
}

.social-icon:hover {
    color: #3498db;
    transform: scale(1.2);
}

/*Ajustes para los dispositivos móviles y el iframe*/
@media (max-width: 768px) {
    .iframe-container {
        height: 100vh;
        overflow-y: auto;
    }

    .iframe-container iframe {
        height: calc(100vh - 56px);
    }
    .card-body {
        padding: 0.8rem 1rem;
    }

    .card-title {
        font-size: 1.1rem;
        margin-bottom: 0.3rem;
    }

    .load-button {
        padding: 0.4rem 0.8rem;
        font-size: 0.9rem;
        margin-top: 0.4rem;
    }
}

/* Ajustes para pantallas más grandes */
@media (min-width: 1200px) {
    .card-body {
        padding: 1.5rem 2rem;
    }

    .card-title {
        font-size: 1.2rem;
        padding: 0;
        margin: 0;
    }

    .load-button {
        padding: 0.6rem 1.2rem;
        font-size: 1.1rem;
    }
}

/*Ajuste para menu en moviles*/
@media (max-width: 992px) {
    /* Alineación de los botones del menú en modo móvil */
    #navbarNav .navbar-nav {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
    
    #navbarNav .nav-item {
        flex: 1;
        text-align: center;
    }

    /* Alineación específica para el primer, segundo y tercer botón */
    #navbarNav .nav-item:nth-child(1) {
        text-align: left;
    }

    #navbarNav .nav-item:nth-child(2) {
        text-align: left;
    }

    #navbarNav .nav-item:nth-child(3) {
        text-align: center;
    }

    #navbarNav .nav-item:nth-child(4) {
        text-align: right;
    }

    #navbarNav .nav-item:nth-child(5) {
        text-align: right;
    }
}